<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.radiusnetworks.cordova.proximitykit" version="0.5.1"
xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android">
  <name>ProximityKit</name>
  <description>Proximity Kit Plugin for PhoneGap/Cordova</description>
  <platform name="ios">
    <js-module name="proximitykit" src="www/proximitykit.js">
      <clobbers target="radiusnetworks.plugins.proximitykit" />
    </js-module>
    <config-file parent="/*" target="config.xml">
      <feature name="ProximityKit">
        <param name="ios-package" value="PKCDVPlugin" />
      </feature>
    </config-file>
    <header-file src="src/ios/PKCDVPlugin.h" />
    <source-file src="src/ios/PKCDVPlugin.m" />
    <framework src="src/ios/ProximityKit.framework" custom="true" />
  </platform>
</plugin>
